#leftpanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  border:solid 1px lightblue;
  width: 160px;
  height: 1000px;
  padding-left: 8px;
  margin: 0px;
}

#leftpanel-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 170px;
}

#titlepanel {
  position: absolute;
  top: 120px;
  left: 230px;
  width: 1300px;
}

#contentpanel {
  position: absolute;
  top: 250px;
  left: 250px;
  width: 1250px;
}

#toc {
  position: absolute;
  top: 450px;
  left: 300px;
  background: lightgrey;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toclist {
  margin-right: 20px;
}

/* For nesting counters in ordered lists */
ol {
  counter-reset: item;
}

.toclistitem {
  display: block;
}

.toclistitem:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

/* till here */

#rightpanel {
  position: absolute;
  top: 250px;
  left: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border: 1px solid black;
}

#rightpaneltitle {
  font-weight: 700;
  font-size: 19px;
}
#rptitlediv {
  width: 210px;
  height: 30px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rp2ndtitle {
  font-weight: 700;
}
#rp2ndtitlediv {
  width: 210px;
  height: 30px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sclist {
  list-style: none;
}

#etymologypanel {
  position: absolute;
  top: 750px;
  left: 250px;
  width: 1250px;
}